.port__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-footer)
}

.port__contact-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

.port__contact-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    letter-spacing: -0.04em;
}

.port__contact-heading div {
    width: 200px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    margin-top: 10px;
    margin-bottom: 10px;
}

.port__contact-btn{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.port__contact-btn button {
    background: var(--gradient-bar);
    color: #FFFFFF;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    margin-top: 10px;
    padding:0.5rem 1rem;
    border: none;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

input {
    text-align: center;
    font-family: var(--font-family);
    margin: 2px;
    border: 10px;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    font-size: 14px;
}

textarea {
    text-transform: capitalize;
    text-align: center;
    font-family: var(--font-family);
    margin: 2px;
    border: 10px;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    font-size: 14px;
}

.port__contact-socials h1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 50px;

}

.port__contact-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.port__contact-social-icons {
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.2em;
    line-height: 2em;
    background: var(--gradient-bar);
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}

.port__contact-social-icons::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(0.9);
    transition: 0.5s;
    z-index: 1;
}

.port__contact-social-icons:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px white;
}

.port__contact-social-icons:hover {
    color: white;
    box-shadow: 0 0 10px white;
    text-shadow: white;
}

.icon-color {
    color: white;
}

@media screen and (max-width: 850px) {
    .port__contact-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }
    .port__contact-heading div{
        width: 200px;
    }
}