.port__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.port__navbar-links {
    flex: 1;   
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.portNav {
    display: flex;
    flex-direction: row;
}

.portNav p{
    color:#fff ;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 8rem 0 .3rem;
    cursor: pointer;
}

